.editprofile-input{
    border:2px solid #024357;
    background: linear-gradient(90deg, white, #adf7f7);
    border-radius: 10px;
}
.editprofile-input:focus{
    border:2px solid orange;
}
.editprofile-input:focus{
    outline: none;
    box-shadow: none;
}

.update{
    background-color:none;
    border:3px solid #9b59b6;
    border-radius: 10px;
    color:white;
}
.update:hover{
    border:3px solid white;
    color:#9b59b6;
    transition: all 0.3s ease-out;
}
.info{
    color:red;
    line-height: 3px;
    margin-top:3%;
}
.info>:nth-child(4){
    color:blue;
}
.profileImage{
    border:3px solid #9b596b;
    border-radius:10px;
    width: 300px;
    height: 300px;
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
}
.edit-input{
    border:2px solid rgb(252, 115, 115);
    border-radius: 10px;
}
.edit-input:focus{
    outline: none;
    box-shadow: none;
    border: 2px solid #024357;
}
.middleOver{
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  
}
.hoverThing:hover .profileImage{
    opacity: 0.5;
  }
  
  .hoverThing:hover .middleOver {
    opacity: 1;
  }